/* ------------------------------- 
    Eindopdracht Pascal Pater
    React Student Dashboard
   ------------------------------- */

/* Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

main {
  padding: 15px;
}

header {
  
}

.page-header {
  padding: 0 15px;
}

footer {
  background-color: #4f8bc9;
  color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  font-style: italic;
}