/* ------------------------------- 
    Eindopdracht Pascal Pater
    React Student Dashboard
   ------------------------------- */

/* Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #1d334a;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1d334a;
}

a:hover, a.selected {
  text-decoration: underline 2px #ffb212;
  color: #4f8bc9;
}

button {
  appearance: none;
  border: 1px solid transparent;
  padding: 8px 12px;
  border-radius: 42px;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffb212;
  color: #1d334a;
}

button:hover {
  border: 1px solid #ffb212;
  background-color: #fff;
  color: #4f8bc9;
  cursor: pointer;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  background-color: #d6e2f0;
}

header {
  margin-bottom: 60px;
}

.app__header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
  height: 60px;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.25);
  z-index: 10;
  background-color: #fff;
}

.app__logo {
  height: 40px;
}

.app__header a {
  transition: transform 2s ease-in-out;
}

.app__header a:hover {
  transform: rotateY(180deg);
}

.app__title {
  color: #4f8bc9;
  text-align: center;
  font-size: 26px;
}

main {
  max-width: 1756px;
  margin: 0 auto;
  padding: 10px;
}

.app-nav__list {
  column-count: 3;
  margin: 10px 0;
}

.app-nav__list li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.page-title {
  font-size: 26px;
  text-align: center;
}

.panel {
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px, rgba(17, 17, 26, 0.1) 0 24px 80px;
  background-color: #fff;
}

.panel--action {
  margin: 10px 0;
  border-radius: 8px;
  font-size: 15px;
}

.panel__title {
  font-size: 16px;
}

.select-chart__buttons {
    display: flex;
}

.select-chart__buttons li {
  margin-right: 8px;
}

.chart-container {
  /* margin: 0 auto; */
  /* width: 90vw; */
}

.chart-action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
}

.chart-info {
  margin-left: 6px;
  margin-top: 0;
  font-size: 12px;
}

.chart-info span { 
  font-style: italic;
  color: #ffb212;
}

.chart-message {
  font-size: 18px;
  color: #ffb212;
  text-align: center;
}

.select-assignment ul {
  column-count: 2;
}

.select-assignment button {
  margin-bottom: 6px;
  min-width: 100%;
}

footer {
  background-color: #4f8bc9;
  color: #fff;
  padding: 10px 15px;
  font-size: 12px;
  font-style: italic;
}


/* ------------------------------- 
          $Media queries
   ------------------------------- */

@media screen and (min-width: 391px) {
  .chart-info {
    margin-top: auto;
  }

  .app__title {
    margin: 0 auto;
  }
}

@media screen and (min-width: 414px) {
  .chart-info {
    margin-left: auto;
  }
}

@media screen and (min-width: 445px) {
  .select-assignment button {
    min-width: 196px;
    margin-right: 6px;
  }

  .app-nav__list {
    column-count: 4;
  }
}

@media screen and (min-width: 580px) {
  .select-assignment ul {
    column-count: 3;
  }
}

@media screen and (min-width: 684px) {
  .app-nav__list {
    column-count: 6;
  }

  .chart-action {
    font-size: 15px;
  }

  .chart-info {
    font-size: 14px;
  }

  .chart-message {
    font-size: 22px;
  }

  .panel-section {
    display: flex;
  }

  .sort-rating {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 80px;
  }

  .app__header {
    padding: 0 15px;
    height: 80px;
  }

  .app__logo {
    height: 60px;
  }

  .app__title {
    font-size: 32px;
  }

  main {
    padding: 15px;
  }

  .page-title {
    font-size: 32px;
  }

  .panel--action {
    font-size: 16px;
  }

  .panel__title {
    font-size: 17px;
  }

  .app-nav__list {
    column-count: initial;
    display: flex;
    flex-wrap: wrap;
  }

  .chart-message {
    font-size: 24px;
  }

  .select-assignment button {
    font-size: 14px;
  }
}

@media screen and (min-width: 946px) { 
  .select-assignment ul {
    column-count: 4;
  }
}

@media screen and (min-width: 1024px) { 
  .app-nav {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) { 
  .chart-container {
    grid-area: chart;
    margin-top: 10px;
  }

  .panel-section {
    grid-area: panels;
    display: block;
  }

  .sort-rating {
    margin-right: 0;
  }

  .select-assignment ul {
    column-count: initial;
  }

  .select-assignment button {
    min-width: 100%;
  }

  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "panels chart";
  }
}

@media screen and (min-width: 1355px) { 
  .select-assignment ul {
    column-count: 2;
  }

}

/* 
media queries


.chart-container {
  margin: 0 auto;
  width: 90vw;
}

 */
